body {
    background-color: #b168b4;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#captchaBackground {
    height: 150px;
    width: 200px;
    background-color: #dce7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#captchaHeading {
    color: rgb(111, 13, 123);
    position: absolute;
    top: 25%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 250px;
    background: #e2e8ea;
    padding: 20px 30px;
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #09c12e;
    border: 0px;
    font-weight: bold;
}

#refreshButton {
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}

#textBox {
    height: 30px;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #03572e;
}